{% extends 'base.html.twig' %}

{% block title %}eFac | Facture - Modifier la facture {% endblock %}

{% block content %}

    <section id="service-details" class="service-details section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row" style="text-align: center">
                <div class="col-lg-12 mx-auto" style="text-align: center">
                    <div class="service-sidebar">

                        <div class="privacy-section" data-aos="fade-up" data-aos-delay="300">
                            <h3>Facture - Modifier une facture</h3>
                        </div>

                        {% if app.user.roles is defined and app.user.roles is not null and app.user.roles[0] in ['ROLE_ADMIN', 'ROLE_MANAGER','ROLE_SALE'] %}
                            <!-- .sous-menu rubrique -->
                            <div class="meta-bottom" style="text-align: center; margin-bottom: 2em;">
                                <div class="share-section">
                                    <div class="social-links">
                                        <a href="{{ path('app_proforma') }}" title="Listing des Pro Forma" style="margin-left: 5px"><i class="bi bi-file-earmark-ruled h3"></i></a>
                                        <span class="ml-3">&nbsp;</span>
                                        <a href="{{ path('app_bill_add') }}" title="Créer une facture" style="margin-left: 5px"><i class="bi bi-file-earmark-plus h3"></i></a>
                                        <span class="ml-3">&nbsp;</span>
                                        <a href="{{ path('app_bill') }}" title="Listing des factures"><i class="bi bi-file-earmark-post-fill h3"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- .sous-menu rubrique -->
                        {% endif %}

                        <div class="quick-contact-card" data-aos="slide-up" data-aos-delay="200">
                            <div class="contact-header">
                                <h4>Pour ajouter un nouveau produit au Référentiel</h4>
                                <p>Veuillez remplir le formulaire ci-dessous.</p>
                            </div>

                            {{ form_start(form) }}
                            {% if form is defined and form is not null %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- begin form -->
                                        <div class="row formRow" style="text-align: left">

                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    {{ form_row(form.subject) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="form-group">
                                                    {{ form_row(form.client) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="optionrow">
                                                    {{ form_row(form.numero) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    {{ form_row(form.wf_amount) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    {{ form_row(form.detailMainOeuvre) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group optionrow">
                                                    {{ form_row(form.targetpro) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    {{ form_row(form.due_date) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    {{ form_row(form.prct_discount) }}
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    {{ form_row(form.status_bill) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    {{ form_row(form.payment_method) }}
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    {{ form_row(form.is_with_tps) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    {{ form_row(form.is_without_tva) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    {{ form_row(form.banque) }}
                                                </div>
                                            </div>

                                            <div class="col-lg-12"><br /></div>
                                            <div class="col-lg-12" style="text-align: center">
                                                <div class="form-group">
                                                    {{ form_row(form.cond_reglt) }}
                                                </div>
                                            </div>

                                        </div>

                                        {% if lineBills is defined and lineBills is not null and lineBills|length > 0 %}
                                            {% set i = 1 %}
                                            {% for lineBill in lineBills  %}
                                                {% if lineBill.refProduct is defined and lineBill.refProduct is not null %}
                                                    <div class="row formRowReadOnly" id="line_5">
                                                        <div class="col-lg-4">
                                                            <h6>Produit {{ i }}</h6>
                                                            <select name="ref_{{ i }}" id="ref_{{ i }}" class="form-control ts-autocomplete" onchange="getInfoProduct({{ i }})">
                                                                <option value="">Sélectionner</option>
                                                                {% for produit in produits %}
                                                                    {% if lineBill.refProduct.reference == produit.reference %}
                                                                        <option value="P-{{ produit.reference }}" selected>{{ produit.name }}</option>
                                                                    {% else %}
                                                                        <option value="P-{{ produit.reference }}">{{ produit.name }}</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </select>
                                                            <br /><input name="cplref_{{ i }}" id="cplref_{{ i }}" value="{{ lineBill.designationCpt }}" type="text" placeholder="Texte complémentaire Produit ou service {{ i }}...">
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <h6>Quantité</h6>
                                                            <input name="qte_{{ i }}" id="qte_{{ i }}" value="{{ lineBill.qte }}" type="text" placeholder="Quantité..." onkeyup="updateAmount({{ i }})">
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <h6>Prix Unitaire</h6>
                                                            <input name="price_{{ i }}" id="price_{{ i }}" value="{{ lineBill.unitPrice }}" type="text" placeholder="Prix Unitaire...">
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <h6>Montant HT.</h6>
                                                            <input name="mnt_{{ i }}" id="mnt_{{ i }}" value="{{ lineBill.amountHt }}" type="text" placeholder="Montant HT...">
                                                            <input name="id_{{ i }}" id="id_{{ i }}" type="hidden" value="{{ lineBill.id }}">
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <div class="row formRowSpe" id="line_5">
                                                        <div class="col-lg-4">
                                                            <h6>Service {{ i }}</h6>
                                                            <select name="ref_{{ i }}" id="ref_{{ i }}" class="form-control ts-autocomplete" onchange="getInfoProduct({{ i }})">
                                                                <option value="">Sélectionner</option>
                                                                {% for service in services %}
                                                                    {% if lineBill.refService.reference == service.reference %}
                                                                        <option value="S-{{ service.reference }}" selected>{{ service.name }}</option>
                                                                    {% else %}
                                                                        <option value="S-{{ service.reference }}">{{ service.name }}</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </select>
                                                            <br /><input name="cplref_{{ i }}" id="cplref_{{ i }}" type="text" value="{{ lineBill.designationCpt }}" placeholder="Texte complémentaire Produit ou service {{ i }}...">
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <h6>Quantité</h6>
                                                            <input name="qte_{{ i }}" id="qte_{{ i }}" type="text" value="{{ lineBill.qte }}" placeholder="Quantité..." onkeyup="updateAmount({{ i }})">
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <h6>Prix Unitaire</h6>
                                                            <input name="price_{{ i }}" id="price_{{ i }}" type="text" value="{{ lineBill.unitPrice }}" placeholder="Prix Unitaire...">
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <h6>Montant HT.</h6>
                                                            <input name="mnt_{{ i }}" id="mnt_{{ i }}" type="text" value="{{ lineBill.amountHt }}" placeholder="Montant HT...">
                                                            <input name="id_{{ i }}" id="id_{{ i }}" type="hidden" value="{{ lineBill.id }}">
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% set i = (i + 1) %}
                                            {% endfor %}
                                        {% elseif mode is defined and mode is not null and mode == 1 %}
                                            {% include '/proforma/in/_product.html.twig' %}
                                        {% elseif mode is defined and mode is not null and mode == 2 %}
                                            {% include '/proforma/in/_service.html.twig' %}
                                        {% else %}
                                            {% include '/proforma/in/_product_service.html.twig' %}
                                        {% endif %}
                                        <!-- end form -->
                                        <div class="btnrow row mx-auto gap-4">
                                            <button type="submit" class="btn-submit">
                                                <span>Valider pour ajouter le produit au référentiel</span>
                                                <i class="bi bi-arrow-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

