<!DOCTYPE html>
<html lang="fr">
<head>
    <title>eFac - Authentification</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ asset('tmplog/images/icons/favicon.ico') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('tmplog/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('tmplog/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('tmplog/fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('tmplog/vendor/animate/animate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('tmplog/vendor/css-hamburgers/hamburgers.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('tmplog/vendor/animsition/css/animsition.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('tmplog/vendor/select2/select2.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('tmplog/vendor/daterangepicker/daterangepicker.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('tmplog/css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('tmplog/css/main.css') }}">
</head>
<body style="background-color: #666666;">

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">

            <form action="{{ checkPathUrl ? checkPathUrl: path(checkPathRoute) }}" method="post" class="login100-form validate-form">


                <span class="login100-form-title p-b-43">Authentification à deux facteurs</span><br />

                <span class="p-b-43">
                    <b>Veuillez saisir le code à 6 chiffres envoyé par mail.</b>
                </span><br />

                {# <p class="label"><label for="_auth_code">{{ "auth_code"|trans({}, 'SchebTwoFactorBundle') }} {{ twoFactorProvider }}:</label></p>  #}

                {% if authenticationError %}
                    <div class="txtError"><strong>{{ authenticationError|trans(authenticationErrorData, 'SchebTwoFactorBundle') }}</strong></div>
                {% endif %}

                <div class="widget wrap-input100">
                    <input
                            id="_auth_code"
                            type="text"
                            class="input100 form-control"
                            name="{{ authCodeParameterName }}"
                            autocomplete="one-time-code"
                            autofocus
                            inputmode="numeric"
                            pattern="[0-9]*"
                    />
                    <span class="focus-input100"></span>
                    <span class="label-input100">Code</span>
                </div>

                {% if displayTrustedOption %}
                    <br /><div class="widget"><label for="_trusted"><input id="_trusted" type="checkbox" name="{{ trustedParameterName }}" /> {{ "trusted"|trans({}, 'SchebTwoFactorBundle') }}</label></div><br />
                {% endif %}

                {% if isCsrfProtectionEnabled %}
                    <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">
                {% endif %}

                <div class="container-login100-form-btn">
                    <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
                    <button class="login100-form-btn" type="submit">Valider le code</button>
                </div>

                <br />
                <p class="cancel">
                    <a href="{{ logoutPath }}">
                        <button class="login100-form-btn">{{ "cancel"|trans({}, 'SchebTwoFactorBundle') }}</button>
                    </a>
                </p>

            </form>

            <div class="login100-more" style="background-image: url('{{ asset('tmplog/images/bg-01.jpg') }}');"></div>
        </div>
    </div>
</div>


<script src="{{ asset('tmplog/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('tmplog/vendor/animsition/js/animsition.min.js') }}"></script>
<script src="{{ asset('tmplog/vendor/bootstrap/js/popper.js') }}"></script>
<script src="{{ asset('tmplog/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('tmplog/vendor/select2/select2.min.js') }}"></script>
<script src="{{ asset('tmplog/vendor/daterangepicker/moment.min.js') }}"></script>
<script src="{{ asset('tmplog/vendor/daterangepicker/daterangepicker.js') }}"></script>
<script src="{{ asset('tmplog/vendor/countdowntime/countdowntime.js') }}"></script>
<script src="{{ asset('tmplog/js/main.js') }}"></script>

</body>
</html>