{% extends 'base.html.twig' %}

{% block title %}eFac | Client - Modification client {% endblock %}

{% block content %}

    <section id="service-details" class="service-details section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row" style="text-align: center">
                <div class="col-lg-12 mx-auto" style="text-align: center">
                    <div class="service-sidebar">

                        <div class="privacy-section" data-aos="fade-up" data-aos-delay="300">
                            <h3>Client - Modification client</h3>
                        </div>

                        {% if app.user.roles is defined and app.user.roles is not null and app.user.roles[0] in ['ROLE_ADMIN', 'ROLE_MANAGER'] %}
                            <!-- .sous-menu rubrique -->
                            <div class="meta-bottom" style="text-align: right; margin-bottom: 2em;">
                                <div class="share-section">
                                    <div class="social-links">
                                        <a href="{{ path('app_client') }}" title="Listing des clients"><i class="bi bi-person-vcard-fill h3"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- .sous-menu rubrique -->
                        {% endif %}

                        <div class="quick-contact-card" data-aos="slide-up" data-aos-delay="200">
                            <div class="contact-header">
                                <h4>Pour modifier le client</h4>
                                <p>Veuillez modifier les valeurs du formulaire ci-dessous.</p>
                            </div>

                            {{ form_start(form) }}
                            {% if form is defined and form is not null %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- begin form -->
                                        <div class="row formRow" style="text-align: left">

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    {{ form_row(form.sreason) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    {{ form_row(form.type_client) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    {{ form_row(form.status_client) }}
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    {{ form_row(form.num_account) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    {{ form_row(form.nif) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    {{ form_row(form.num_command) }}
                                                </div>
                                            </div>

                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    {{ form_row(form.address) }}
                                                </div>
                                            </div>

                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    {{ form_row(form.address_cpt) }}
                                                </div>
                                            </div>

                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    {{ form_row(form.email) }}
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    {{ form_row(form.city) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    {{ form_row(form.phone) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    {{ form_row(form.country) }}
                                                </div>
                                            </div>

                                            <div class="col-lg-12"><div><span style="color: darkred">*</span> : champ obligatoire</div></div>
                                        </div>
                                        <!-- end form -->
                                        <div class="btnrow row mx-auto gap-4">
                                            <button type="submit" class="btn-submit">
                                                <span>Valider pour modifier le client</span>
                                                <i class="bi bi-arrow-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

