{% extends 'base.html.twig' %}

{% block title %}eFac | Liste des clients{% endblock %}

{% block content %}

    <!-- .dynamic content -->
    <section id="privacy" class="privacy section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <div class="privacy-content">

                        <div class="privacy-section" data-aos="fade-up" data-aos-delay="300" style="text-align: center">
                            <h3>Clients - Liste</h3>
                        </div>

                        <!-- .sous-menu rubrique -->
                        {% if app.user.roles is defined and app.user.roles is not null and app.user.roles[0] in ['ROLE_ADMIN', 'ROLE_MANAGER'] %}
                            <div class="meta-bottom" style="text-align: center;">
                                <div class="share-section">
                                    <div class="social-links" style="vertical-align: middle">
                                        <a href="#" title="Téléverser vos clients" class="twitter"><i class="bi bi-cloud-arrow-up h3"></i></a>
                                        <span class="ml-3">&nbsp;</span>
                                        <a href="{{ path('app_client_add') }}" title="Ajouter un client"><i class="bi bi-person-plus h3"></i></a>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        <!-- .sous-menu rubrique -->

                        <!-- start table -->
                        <table id="myTable" class="display">
                            <thead>
                            <tr>
                                <th style="width: 2% !important;">#</th>
                                <th style="width: 5% !important;" class="filter1">Compte</th>
                                <th style="width: 22% !important;" class="filter2">Raison sociale</th>
                                <th style="width: 12% !important; text-align: center">Type client</th>
                                <th style="width: 15% !important; text-align: center"class="filter3">Téléphone</th>
                                <th style="width: 16% !important; text-align: center">Email</th>
                                <th style="width: 10% !important; text-align: center" class="filter4">Statut</th>
                                <th style="width: 18% !important; text-align: center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if clients is defined and clients is not null and clients|length > 0 %}
                                {% set nb = 1 %}
                                {% for client in clients %}
                                    <tr style="vertical-align: middle">
                                        <td class="odd">{{ nb }}</td>
                                        <td class="odd" style="text-align: center">
                                            {% if client.numAccount is defined and client.numAccount is not null %}
                                                {{ client.numAccount }}
                                            {% endif %}
                                        </td>
                                        <td class="odd">{{ client.sreason|upper }}</td>
                                        <td class="odd" style="text-align: center">
                                            {% if client.typeClient is defined and client.typeClient is not null %}
                                                {{ client.typeClient.label }}
                                            {% endif %}
                                        </td>
                                        <td class="odd" style="text-align: center"><a href="tel:{{ client.phone }}" target="_blank" style="text-decoration: none; text-underline: none">{{ client.phone }}</a></td>
                                        <td class="odd" style="text-align: center">
                                            {% if client.email is defined and client.email is not null %}
                                                <a href="mailto:{{ client.email }}" target="_blank" style="text-decoration: none; text-underline: none">{{ client.email }}</a>
                                            {% endif %}
                                        </td>
                                        <td class="odd" style="text-align: center">
                                            {% if client.statusClient is defined and client.statusClient is not null %}
                                                {{ client.statusClient.label }}
                                            {% endif %}
                                        </td>
                                        <td class="odd" style="text-align: right">
                                            <a href="{{ path('app_client_contact', {'id':client.id }) }}" title="Liste des contacts"><i class="bi bi-people-fill h4"></i></a>
                                            <a href="{{ path('app_client_proforma', {'id':client.id }) }}" title="Pro Forma de {{ client.sreason }}" style="margin-left: .1em;"><i class="bi bi-file-earmark-ruled h5"></i></a>
                                            <a href="{{ path('app_client_bill', {'id':client.id }) }}" title="Factures de {{ client.sreason }}" style="margin-left: .1em;"><i class="bi bi-file-earmark-post-fill h5"></i></a>
                                            <a href="{{ path('app_client_edit', {'id':client.id }) }}" title="Modifier" style="margin-left: .4em;"><i class="bi bi-pencil-square h5"></i></a>

                                            {% if app.user.roles is defined and app.user.roles is not null and 'ROLE_ADMIN' in app.user.roles %}
                                                <a href="{{ path('app_client_delete', {'id':client.id }) }}" title="Supprimer" style="margin-left: .2em; color: orangered"><i class="bi bi-trash3 h5"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% set nb = (nb + 1) %}
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                        <!-- end table -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.dynamic content -->
{% endblock %}