{% extends 'base.html.twig' %}

{% block title %}eFac | Reférentiel - Ajouter un produit{% endblock %}

{% block content %}

<section id="service-details" class="service-details section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row" style="text-align: center">
            <div class="col-lg-11 mx-auto" style="text-align: center">
                <div class="service-sidebar">

                    <div class="privacy-section" data-aos="fade-up" data-aos-delay="300">
                        <h3>Référentiel - Nouveau produit</h3>
                    </div>

                    {% if app.user.roles is defined and app.user.roles is not null and app.user.roles[0] in ['ROLE_ADMIN', 'ROLE_MANAGER'] %}
                    <!-- .sous-menu rubrique -->
                    <div class="meta-bottom" style="text-align: right; margin-bottom: 2em;">
                        <div class="share-section">
                            <div class="social-links">
                                <a href="{{ path('app_reference_list_product') }}" title="Listing des produits" style="color: navy"><i class="bi bi-list-check"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- .sous-menu rubrique -->
                    {% endif %}

                    <div class="quick-contact-card" data-aos="slide-up" data-aos-delay="200">
                        <div class="contact-header">
                            <h4>Pour ajouter un nouveau produit au Référentiel</h4>
                            <p>Veuillez remplir le formulaire ci-dessous.</p>
                        </div>

                        {{ form_start(form) }}
                        {% if form is defined and form is not null %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row formRow">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                {{ form_row(form.reference) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="form-group">
                                                {{ form_row(form.name) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                {{ form_row(form.price) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                {{ form_row(form.picture) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                {{ form_row(form.description) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btnrow row mx-auto gap-4">
                                        <button type="submit" class="btn-submit">
                                            <span>Valider pour ajouter le produit au référentiel</span>
                                            <i class="bi bi-arrow-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

