{% extends 'base.html.twig' %}

{% block title %}eFac | Reférentiel - Modifier un service{% endblock %}

{% block content %}

    <section id="service-details" class="service-details section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row" style="text-align: center">
                <div class="col-lg-11 mx-auto" style="text-align: center">
                    <div class="service-sidebar">

                        <div class="privacy-section" data-aos="fade-up" data-aos-delay="300">
                            <h3>Référentiel - Modification d'un service</h3>
                        </div>

                        {% if app.user.roles is defined and app.user.roles is not null and app.user.roles[0] in ['ROLE_ADMIN', 'ROLE_MANAGER'] %}
                            <!-- .sous-menu rubrique -->
                            <div class="meta-bottom" style="text-align: center; margin-bottom: 2em;">
                                <div class="share-section">
                                    <div class="social-links">
                                        <a href="{{ path('app_reference_list_product') }}" title="Listing des produits"><i class="bi bi-card-list h3"></i></a>
                                        <span class="ml-3">&nbsp;</span>
                                        <a href="{{ path('app_reference_list_service') }}" title="Listing des services"><i class="bi bi-card-checklist h3"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- .sous-menu rubrique -->
                        {% endif %}

                        <div class="quick-contact-card" data-aos="slide-up" data-aos-delay="200">
                            <div class="contact-header">
                                <h4>Pour modifier un service du Référentiel</h4>
                                <p>Veuillez modifier les valeurs du formulaire ci-dessous.</p>
                            </div>

                            {{ form_start(form) }}
                            {% if form is defined and form is not null %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row formRow">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    {{ form_row(form.reference) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="form-group">
                                                    {{ form_row(form.name) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    {{ form_row(form.price_per_day) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    {{ form_row(form.picture) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    {{ form_row(form.description) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btnrow row mx-auto gap-4">
                                            <button type="submit" class="btn-submit">
                                                <span>Valider pour modifier le service dans le référentiel</span>
                                                <i class="bi bi-arrow-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

