{% extends 'base.html.twig' %}

{% block title %}eFac | Liste des produits{% endblock %}

{% block content %}

    <!-- .dynamic content -->
    <section id="privacy" class="privacy section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-11 mx-auto">
                    <div class="privacy-content">

                        <div class="privacy-section" data-aos="fade-up" data-aos-delay="300" style="text-align: center">
                            <h3>Référentiel des produits</h3>
                        </div>

                        <!-- .sous-menu rubrique -->
                        {% if app.user.roles is defined and app.user.roles is not null and app.user.roles[0] in ['ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_SALE'] %}
                            <div class="meta-bottom" style="text-align: center;">
                                <div class="share-section">
                                    <div class="social-links" style="vertical-align: middle">
                                        <a href="{{ path('app_reference_list_service') }}" title="Listing des services"><i class="bi bi-card-checklist h3"></i></a>
                                        <span class="ml-3">&nbsp;</span>
                                        <a href="#" title="Téléverser votre référentiel produit" class="twitter"><i class="bi bi-cloud-arrow-up h3"></i></a>
                                        <span class="ml-3">&nbsp;</span>
                                        <a href="{{ path('app_reference_add_product') }}" title="Ajouter un produit" class="twitter"><i class="bi bi-plus-circle h4"></i></a>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        <!-- .sous-menu rubrique -->

                        <table id="myTable" class="display" style="width:100%; margin-top: 2rem;">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th style="width:5%">Référence</th>
                                <th style="width:65%">Nom</th>
                                <th style="width:20%">Prix</th>
                                <th style="text-align: center; width: 10%">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if references is defined and references is not null and references|length > 0 %}
                                {% set nb = 1 %}
                                {% for ref in references %}
                                    <tr>
                                        <td class="odd">{{ nb }}</td>
                                        <td class="odd">{{ ref.reference }}</td>
                                        <td class="odd">
                                            {{ ref.name }}
                                            {% if ref.picture is defined and ref.picture is not null and ref.picture|length > 0 %}
                                                {% set photo = ref.picture %}
                                                <div class="image-container">
                                                    <img class="imgzoom" src="{{ asset('img/photo/'~ ref.picture ) }}" alt="{{ ref.name }}">
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td class="odd">{{ ref.price|number_format(0, '.', ' ') }} XAF</td>
                                        <td class="odd" style="text-align: center">
                                            {% if app.user.roles is defined and app.user.roles is not null and 'ROLE_ADMIN' in app.user.roles %}
                                                <a href="{{ path('app_reference_edit_product', { 'id':ref.id }) }}" title="Modifier" class="mr-3"><i class="bi bi-pencil-square h4"></i></a>
                                                <a href="{{ path('app_reference_delete_product', { 'id':ref.id }) }}" title="Supprimer" style="margin-left: .7em; color: orangered"><i class="bi bi-trash3 h4"></i></a>
                                            {% elseif app.user.roles is defined and app.user.roles is not null and 'ROLE_MANAGER' in app.user.roles %}
                                                <a href="{{ path('app_reference_edit_product', { 'id':ref.id }) }}" title="Modifier" class="mr-3"><i class="bi bi-pencil-square h4"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% set nb = (nb + 1) %}
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.dynamic content -->
{% endblock %}

