{% extends 'base.html.twig' %}

{% block title %}eFac | Pro Forma - Liste des Pro Forma{% endblock %}

{% block content %}

    <!-- .dynamic content -->
    <section id="privacy" class="privacy section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <div class="privacy-content">

                        <div class="privacy-section" data-aos="fade-up" data-aos-delay="300" style="text-align: center">
                            <h3>Pro Forma - Liste</h3>
                        </div>

                        <!-- .sous-menu rubrique -->
                        {% if app.user.roles is defined and app.user.roles is not null and app.user.roles[0] in ['ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_SALE'] %}
                            <div class="meta-bottom" style="text-align: center;">
                                <div class="share-section">
                                    <div class="social-links" style="vertical-align: middle">
                                        <a href="{{ path('app_bill') }}" title="Listing des factures"><i class="bi bi-file-earmark-post-fill h3"></i></a>
                                        <span class="ml-3">&nbsp;</span>
                                        <a href="{{ path('app_proforma_add') }}" title="Créer une proforma"><i class="bi bi-file-plus h3"></i></a>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        <!-- .sous-menu rubrique -->

                        <!-- start table -->
                        <table id="myTable" class="display">
                            <thead>
                            <tr>
                                <th style="width: 2%">#</th>
                                <th style="width: 8%" class="filter1">Numéro</th>
                                <th style="width: 6%; text-align: center">Date</th>
                                <th style="width: 38%" class="filter2">Objet</th>
                                <th style="width: 18%" class="filter3">Client</th>
                                <th style="width: 10%; text-align: center">Total HT</th>
                                <th style="width: 10%; text-align: center" class="filter4">Statut</th>
                                <th style="width: 8%; text-align: center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if proformas is defined and proformas is not null and proformas|length > 0 %}
                                {% set nb = 1 %}
                                {% for proforma in proformas %}
                                    <tr style="vertical-align: middle; font-size: 10pt">
                                        <td class="odd">{{ nb }}</td>
                                        <td class="odd">{{ proforma.numero }}</td>
                                        <td class="odd" style="text-align: center" data-sort='{{ proforma.createdAt|date('Ymd') }}'>{{ proforma.createdAt|date('d/m/y') }}</td>
                                        <td class="odd">
                                            {% if proforma.subject is defined and proforma.subject is not null %}
                                                {{ proforma.subject|upper }}
                                            {% endif %}
                                        </td>
                                        <td class="odd">
                                            {% if proforma.client is defined and proforma.client is not null %}
                                                {{ proforma.client.sreason|upper }}
                                            {% endif %}
                                        </td>
                                        <td class="odd" style="text-align: center">
                                            {% if proforma.lineProformas is defined and proforma.lineProformas is not null %}
                                                {% set totalht = 0 %}
                                                {% for lineproforma in proforma.lineProformas %}
                                                    {% set totalht = (totalht + lineproforma.amountHt ) %}
                                                {% endfor %}

                                                {% if proforma.isWithTps is defined and proforma.isWithTps is not null and proforma.isWithTps == true %}
                                                    {% set totalht2 = (totalht + proforma.wfAmount) %}
                                                    {% set mntTps = ((proforma.wfAmount * 9.5)/100) %}
                                                    {% set totalhtTps = (totalht2 - mntTps) %}

                                                    {{ totalhtTps|number_format(0, '.', ' ') }}
                                                {% else %}
                                                    {% if proforma.isWithTps is defined and proforma.isWithTps is not null and proforma.isWithTps == false and proforma.wfAmount is defined and proforma.wfAmount is not null %}
                                                        {% set totalht = (totalht + proforma.wfAmount) %}
                                                    {% endif %}
                                                    {{ totalht|number_format(0, '.', ' ') }}
                                                {% endif %}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </td>
                                        <td class="odd" style="text-align: center; vertical-align: middle">
                                            {% if proforma.status is defined and proforma.status is not null %}
                                                {{ proforma.status.label|upper }}
                                            {% endif %}&nbsp;
                                        </td>
                                        <td class="odd text-nowrap" style="text-align: center">
                                            {% if app.user.roles is defined and app.user.roles is not null and app.user.roles[0] in ['ROLE_ADMIN','ROLE_MANAGER'] %}

                                                {% if proforma.status is defined and proforma.status is not null and proforma.status.id < 3 %}
                                                    <a href="{{ path('app_proforma_edit', {'id':proforma.id}) }}" title="Modifier" style="margin-left: .2em;"><i class="bi bi-pencil-square h5"></i></a>
                                                {% endif %}

                                                {% if proforma.flagTrans is defined and proforma.flagTrans is null %}
                                                    <a href="{{ path('app_proforma_transform_to_bill', {'id':proforma.id}) }}" title="Transformer en facture" style="margin-left: .2em;"><i class="bi bi-disc h5"></i></a>
                                                {% endif %}
                                            {% endif %}

                                            <a href="{{ path('app_proforma_view_proforma', {'id':proforma.id}) }}" title="Proforma en PDF" style="margin-left: .2em;" target="_blank"><i class="bi bi-file-earmark-pdf h5"></i></a>
                                            <a href="{{ path('app_proforma_send_proforma', {'id':proforma.id}) }}" title="Envoyer la proforma en PDF par mail" style="margin-left: .2em;"><i class="bi bi-envelope-arrow-up h5"></i></a>

                                            {% if app.user.roles is defined and app.user.roles is not null and 'ROLE_ADMIN' in app.user.roles %}
                                                <a href="{{ path('app_proforma_delete', {'id':proforma.id}) }}" title="Supprimer" style="margin-left: .2em; color: orangered"><i class="bi bi-trash3 h5"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% set nb = (nb + 1) %}
                                {% endfor %}
                            {% endif %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="5"></th>
                                <th style="text-align: center"></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                        <br /><i><small style="color: red">Tous les montants sont en F. CFA</small></i>
                        <!-- end table -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.dynamic content -->
{% endblock %}

