<nav id="navmenu" class="navmenu">
    <ul>
        {# <li><a href="#" class="active">Accueil</a></li> #}

        <li class="dropdown"><a href="#"><span>Clients</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
                <li><a href="{{ path('app_client') }}">Liste des clients</a></li>
                <li><a href="{{ path('app_client_add') }}">Nouveau client</a></li>
            </ul>
        </li>

        <li class="dropdown"><a href="#"><span>Proforma</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
                <li><a href="{{ path('app_proforma') }}">Liste des proforma</a></li>
                <li><a href="{{ path('app_proforma_add') }}">Créer une proforma</a></li>
            </ul>
        </li>

        <li class="dropdown"><a href="#"><span>Factures</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
                <li><a href="#">Liste des factures</a></li>
                <li><a href="#">Créer une facture</a></li>
            </ul>
        </li>

        <li class="dropdown"><a href="#"><span>Référentiel</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
                <li><a href="{{ path('app_reference_list_product') }}">Produits</a></li>
                <li><a href="{{ path('app_reference_list_service') }}">Services</a></li>
            </ul>
        </li>

        {# <li><a href="#">Référentiel</a></li> #}
        {# <li><a href="#">Contact</a></li> #}

        <li class="dropdown" style="padding-left: 5rem;">
            {% if app.user is defined and app.user is not null %}
                {% if app.user.photo is defined and app.user.photo is not null and app.user.photo|length %}
                    <a href="#">
                        {% if verififphotoexist(app.user.photo) %}
                            <img src="{{ asset('img/photo/' ~ app.user.photo) }}" alt="{{ app.user.firstname }}" class="imgRounded" width="55" height="55">
                        {% else %}
                            <i class="bi bi-person-circle" title="{{ app.user.firstname }} 1" style="font-size: 2.5rem !important;"></i>
                        {% endif %}
                    </a>
                {% else %}
                    <a href="#">
                        <i class="bi bi-person-circle" title="{{ app.user.firstname }} 2" style="font-size: 2.5rem !important;"></i>
                    </a>
                {% endif %}
            {% endif %}
            <ul>
                <li><a href="#">Mon compte</a></li>
                <li><a href="#">Utilisateurs</a></li>
                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
            </ul>
        </li>

    </ul>
    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>


{# <a class="btn-getstarted" href="{{ path('app_logout') }}">Déconnexion</a>  #}
