<nav id="navmenu" class="navmenu">
    <ul>
        <li class="dropdown"><a href="{{ path('app_client') }}"><span>Clients</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
                <li><a href="{{ path('app_client') }}">Liste des clients</a></li>
                <li><a href="{{ path('app_client_add') }}">Nouveau client</a></li>
            </ul>
        </li>

        <li class="dropdown"><a href="{{ path('app_proforma') }}"><span>Pro Forma</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
                <li><a href="{{ path('app_proforma') }}">Liste des Pro Forma</a></li>
                <li><a href="{{ path('app_proforma_add') }}">Créer une Pro Forma</a></li>
            </ul>
        </li>

        <li class="dropdown"><a href="{{ path('app_bill') }}"><span>Factures</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
                <li><a href="{{ path('app_bill') }}">Liste des factures</a></li>
                <li><a href="{{ path('app_bill_add') }}">Créer une facture</a></li>
            </ul>
        </li>

        <li class="dropdown"><a href="{{ path('app_reference_list_service') }}"><span>Référentiel</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
                <li><a href="{{ path('app_reference_list_product') }}">Produits</a></li>
                <li><a href="{{ path('app_reference_list_service') }}">Services</a></li>
            </ul>
        </li>


        {% if app.user.firstname is defined and app.user.firstname is not null %}
            <li class="dropdown" style="padding-left: 5rem;">
                {% if app.user.photo is defined and app.user.photo is not null and app.user.photo|length %}
                    <a href="#">
                        {% if verififphotoexist(app.user.photo) %}
                            <img src="{{ asset('img/photo/' ~ app.user.photo) }}" alt="{{ app.user.firstname }}" class="imgRounded" width="40" height="40">
                        {% else %}
                            <i class="bi bi-person-circle" title="{{ app.user.firstname }} 1" style="font-size: 2.5rem !important;"></i>
                        {% endif %}
                    </a>
                {% else %}
                    <a href="#">
                        <i class="bi bi-person-circle" title="{{ app.user.firstname }} 2" style="font-size: 2.5rem !important;"></i>
                    </a>
                {% endif %}
                <ul>
                    {% if app.user is defined and app.user is not null %}
                        <li><span style="margin-left: 1.2em; color: steelblue"><b>{{ app.user.roles[0]|labrole }}</b></span></li>
                    {% endif %}

                    <li><a href="{{ path('app_user_my_account') }}">Mon compte</a></li>
                    {% if app.user.roles is defined and app.user.roles is not null and app.user.roles[0] in ['ROLE_ADMIN', 'ROLE_MANAGER'] %}
                        <li><a href="{{ path('app_user') }}">Utilisateurs</a></li>
                    {% endif %}
                    <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                </ul>
            </li>
        {% else %}
            <li class="dropdown">
                <a href="{{ path('app_logout') }}" style="color:orangered">Se connecter</a>
            </li>
        {% endif %}


    </ul>
    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>
